.litoal {
  container-type: inline-size;
}

.litoal-link {
  display: grid;
  grid-template: max-content auto / 6.25rem 1fr;
  grid-template-areas:
    "icon data"
    "icon btn";
  gap: 1.5rem;
  align-items: center;
  width: 100%;
  padding: var(--lito-spacing-box);
  overflow: hidden;
  line-height: 1.5;
  text-decoration: none;
  background-color: var(--lito-screen);
  border: 2px solid var(--lito-light-gray);
  border-radius: var(--lito-radius-md);
  transition: background-color 0.2s;

  &:has(a:hover) {
    background-color: var(--lito-base-gray);
  }
}

.litoal-music-video & .litoal-link {
  grid-template-columns: 6.25rem 1fr max-content;
}

.litoal-figure {
  display: grid;
  grid-area: icon;
  place-items: center;
}

.litoal-img {
  border-radius: var(--lito-radius-sm);
}

.litoal-app & .litoal-img {
  border-radius: 24%;
}

.litoal-content {
  grid-area: data;

  /* align-self: flex-start; */
}

.litoal-title {
  display: block;
  font-weight: 600;
  line-height: 1.375;
  color: var(--lito-dark-gray);
  text-decoration: none;
}

.litoal-artist {
  margin-top: 0.25rem;
  font-size: var(--lito-font-size-xs);
  color: var(--lito-gray);
}

.litoal-btns {
  display: flex;
  grid-area: btn;
  gap: 1rem;
}

.litoal-btn {
  display: flex;
  flex-shrink: 0;
  gap: 0.125rem;
  align-items: center;
  padding: 0.25rem 0.75rem;
  line-height: 1.5;
  text-decoration: none;
  border-radius: 999px;
}

.litoal-btn-label {
  font-size: var(--lito-font-size-sm);
}

.litoal-audition {
  color: #3f3f46;
  background-color: #f4f4f5;
}

.litoal-store {
  color: white !important;
}

:is(.litoal-app, .litoal-mac-app) .litoal-store {
  background-color: #3b82f6 !important; /* blue-500 */
}

.litoal-movie .litoal-store {
  background-color: #18181b; /* zinc-900 */
}

:is(.litoal-ebook, .litoal-audiobook) .litoal-store {
  background-color: #f59e0b; /* amber-500 */
}

.litoal-podcast .litoal-store {
  background-color: #8b5cf6; /* violet-500 */
}

:is(.litoal-music-track, .litoal-music-album, .litoal-music-video) .litoal-store {
  background-color: #f43f5e; /* rose-500 */
}

/* @container (768px <= width) {
  .litoal-link {
    grid-template: auto / 6.25rem 1fr max-content;
    grid-template-areas: "icon data btn";
  }
} */
